@import "tailwindcss";
@config "../tailwind.config.js";


@layer base {
    @import "tailwindcss/preflight";
}

.border-white {
    border-color: white;
}

.border-none input {
    border: none;
}

.hover\:bg-white:hover {
    background-color: white !important;
    color: green !important;
}